/* Google Fonts - Inter (DEVE ESSERE IN CIMA) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Icone - Lucide React */
/*.lucide {
  display: inline-block;
  stroke-width: 2;
  vertical-align: middle;
}*/

body {
  font-family: 'Inter', sans-serif;
}


/* Applica lo zoom SOLO se la larghezza è maggiore di 1024px (Desktop/Laptop) */
@media screen and (min-width: 1024px) {
  body {
    /* Questa proprietà è supportata da Chrome, Edge e Safari */
    zoom: 0.88; 
    
    /* FIX PER FIREFOX (che non supporta 'zoom') */
    -moz-transform: scale(0.9);
    -moz-transform-origin: top center;
    
    /* Assicura che non ci siano barre di scorrimento orizzontali indesiderate */
    overflow-x: hidden;
    width: 100%;
  }
}

/* Utility per nascondere la scrollbar ma permettere lo scroll */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Fix per allineamento input date su iOS/Mobile */
input[type="date"], input[type="time"] {
    display: flex;
    align-items: center;
    -webkit-appearance: none;
    text-align: left;
    min-height: 100%;
    position: relative;
}

input[type="date"]::-webkit-date-and-time-value,
input[type="time"]::-webkit-date-and-time-value {
    text-align: left;
    margin: 0;
    width: 100%;
}

/* Rendi l'intero input cliccabile per aprire il picker nativo e nascondi l'icona browser che può sballare il layout */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    margin: 0;
}
